{% extends 'base.html' %}

{% block title %}Conor Stuart Roe | Interns{% endblock %}

{% block body %}
<div class="main">

<h1 class="centered">Conor Stuart Roe</h1>

<p>I'm a junior (as of spring 2019) CS and linguistics major. I've worked at Digital Scholarship since the spring of 2017. My favorite DS project is <a href="https://ticha.haverford.edu">Ticha</a>. Check out <a href="http://conorstuartroe.com">my personal website</a> and my <a href="https://github.com/cstuartroe"</a>GitHub profile</a>!</p>

<p><a href="{% url 'interns:index' %}">Back to main interns page</a></p>

</div>
{% endblock %}
