{% extends 'base.html' %}

{% block title %}Ian Fisher | Interns{% endblock %}

{% block body %}
<div class="main">

<h1 class="centered">Ian Fisher</h1>

<p>I'm a senior (as of spring 2019) CS and linguistics major. I've worked at Digital Scholarship since the summer of 2016. My favorite DS project is <a href="https://ticha.haverford.edu">Ticha</a>. Check out <a href="https://iafisher.com">my personal website</a> and my <a href="https://github.com/iafisher"</a>GitHub profile</a>!</p>

<p><a href="{% url 'interns:index' %}">Back to main interns page</a></p>

</div>
{% endblock %}
