{% extends 'base.html' %}
  
{% block title %}Yasmine Ayad | Interns{% endblock %}

{% block body %}
<div class="main">

<h1 class="centered">Yasmine Ayad</h1>

<p>I'm a senior CS major graduating in May 2019. I've worked at Digital Scholarship since the winter of 2016. Check out <a href="https://minmin777.github.io/">my personal website</a> and my <a href="https://github.com/minmin777"</a>GitHub profile</a>!</p>

<p><a href="{% url 'interns:index' %}">Back to main interns page</a></p>

</div>
{% endblock %}
