/* A class for a centered container no more than 800px wide. */
.main {
  max-width: 50rem;
  padding: 2rem;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Georgia", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: #fff8f2;
}

.centered {
  text-align: center;
}
