[Unit]
Description=Gunicorn server for dev.django-showcase.haverford.edu

[Service]
Restart=on-failure
User=www-data
WorkingDirectory=/srv/sites/dev.django-showcase.haverford.edu
EnvironmentFile=/srv/sites/dev.django-showcase.haverford.edu/.env

ExecStart=/srv/sites/dev.django-showcase.haverford.edu/.venv/bin/gunicorn \
    --bind unix:/tmp/dev.django-showcase.haverford.edu.socket \
    showcase_site.wsgi:application

[Install]
WantedBy=multi-user.target
