{% extends 'base.html' %}

{% load static %}

{% block title %}Table Builder{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'tablebuilder/index.css' %}">
{% endblock %}

{% block body %}
<div class="main">

<h1 class="centered">Table Builder</h1>
<p>This page demonstrates a simple JavaScript application.</p>

<table id="table">
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="centered" colspan="100%">No rows yet!</td></tr>
  </tbody>
</table>

</div>

<script src="{% static 'tablebuilder/index.js' %}"></script>
{% endblock %}
