{% extends 'base.html' %}

{% load static %}

{% block body %}
<div id="main" class="main">
<h1 class="centered">Welcome to the Haverford Django showcase!</h1>
<p>
  This site is a showcase of the best practices for developing websites at
  <a href="https://www.haverford.edu/library/digital-scholarship">
    Haverford College Digital Scholarship</a> using the Django web framework.
</p>

<p>
  Make sure to check out some of the site's features:
</p>

<ul>
  <li><a href="{% url 'textviewer:index' %}">The texts page</a></li>
  <li><a href="{% url 'admin:index' %}">The admin site</a></li>
</ul>

<p>
  You can view the source code for the site on
  <a href="https://github.com/HCDigitalScholarship/django-showcase-2">
    GitHub</a>.
</p>
</div>
{% endblock %}
