{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'justhtml/css/index.css' %}">
{% endblock %}

{% block body %}
<div id="main" class="main-800px">
<h1 id="title">Welcome to the Django showcase!</h1>
<p>This site demonstrates the best practices for using Django for developing websites at <a href="https://www.haverford.edu/library/digital-scholarship">Haverford College Digital Scholarship</a>.</p>
<p>You can view the source code for this site on <a href="https://github.com/HCDigitalScholarship/django-showcase-2">GitHub</a>.</p>
</div>
{% endblock %}
